page-store-detail {
    .media-container {
        width: 100%;
    }

    .media-container .single-media {
        width: 100%;
        height: 200px;
    }
    
    .media-container .single-media img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .list-container .single-store {
        padding: 10px;
    }

    .list-container .single-store .store-info-container {
        
    }

    .list-container .single-store .store-info-container .store-name {
        font-size: 1.65rem;
        font-weight: 600;
        color:#000000;
    }

    .list-container .single-store .store-info-container .store-state {
        font-size: 1.5rem;
        color:#000000;
        margin-top: 8px;
    }

    .list-container .single-store .store-info-container .store-state .icon {
        color:#000000;
    }

    .list-container .single-store .store-info-container .store-description {
        font-size: 1.4rem;
        color:#000000;
        margin-top: 15px;
    }

    .list-container .single-store .store-action-buttons {
        margin-top: 20px;
        float: right;
    }

    .button img {
        width: 15px;
    }

    .claim-btn {
        background-color:#FFFFFF;
        border-color:#00b7d9;
        border-width: 2px;
        border-style: solid;
        border-radius: 20px;
        color:#00df9c;
        width: 100px;
    }

    .web-btn {
        background-color:#FFFFFF;
        border-color:#00b7d9;
        border-width: 2px;
        border-style: solid;
        border-radius: 20px;
        color:#00df9c;
        width: 100px;
    }

    .store-hours {
        margin-top: 10px;

    }

    .delivery-hours {
        margin-top: 10px;
    }

    .timings-heading {
        font-size: 1.5rem;
        font-weight: 600;

    }

    .store-time-single {
        margin-top: 5px;
    }

    .delivery-time-single {
        margin-top: 5px;
    }
}
