<ion-header class="gradient-header">
    <div class="left-icon-container" (tap)="navCtrl.pop()">
        <div class="left-icon">
            <ion-icon name="md-arrow-back"></ion-icon>
        </div>
    </div>
    <div class="screen-title">
        Store Details
    </div>
</ion-header>
<ion-content class="smoke-screen">
    <div class="list-container">
        <ion-slides>
            <ion-slide *ngFor="let img of store.imagesJson" class="media-container">
                <div class="single-media">
                    <img [src]="img" />
                </div>
            </ion-slide>
        </ion-slides>
    <div class="single-store">
        <div class="store-info-container">
            <div class="store-name">
                {{store.store_name}}
            </div>
            <div class="store-state">
                <ion-icon name="pricetag"></ion-icon>
                &nbsp;
                {{store.state}}
            </div>
            <div class="store-state">
                <ion-icon name="pin"></ion-icon>
                &nbsp;
                {{store.store_address}}
            </div>
            <div class="store-description" [innerHTML]="store.store_description">

            </div>
            <div class="store-hours" *ngIf="store.has_store_timings">
                <div class="timings-heading">
                    Store Hours
                </div>
                <div *ngFor="let st of store_timings" class="store-time-single">
                    {{st.start_hour}} - {{st.end_hour}}
                </div>
            </div>

            <div class="delivery-hours" *ngIf="store.has_delivery_timings">
                <div class="timings-heading">
                    Delivery Hours
                </div>
                <div *ngFor="let st of delivery_timings" class="delivery-time-single">
                    {{st.start_hour}} - {{st.end_hour}}
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="store-action-buttons">
            <button ion-button small round class="claim-btn" (tap)="callStore(store)">
                <img src="assets/imgs/phone.png" />
                <!--&nbsp;&nbsp;CALL-->
            </button>
            <button ion-button small round class="claim-btn" *ngIf="store.is_claimed=='0'" (tap)="claimClick(store)">
                <img src="assets/imgs/key.png" />
                &nbsp;&nbsp;CLAIM
            </button>
            <button ion-button small round class="web-btn" *ngIf="store.web_url!=null && store.web_url!=''" (tap)="websiteClick(store)">
                <ion-icon name="cloudy"></ion-icon>
                &nbsp;&nbsp;WEBSITE
            </button>
        </div>
        <div class="clearfix"></div>
    </div>
    </div>
</ion-content>